/*
* @Author: DELL
* @Date:   2017-03-30 14:38:17
* @Last Modified by:   DELL
* @Last Modified time: 2017-04-05 22:22:23
*/
.container-fiuld{
	width: 100%;
	height: auto;
}
.container{
	margin: 0 auto;
	padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
[class*="col-"]{
	float: left;
}

/*  */
@media screen and (max-width: 768px){
	.container{
		width: 100%;
	}
	.footer .in1{
		display: block;
	}
	.footer .in{
		display: none;
	}
	.w .p{
		width: 70%;
		margin: 0 auto;
	}
	.ai .con .in .f .sec{
		width: 293px;
		height: 293px;
		margin:0  auto 30px;
	}
	.col-xs-1{
	width: 8.33333%;
	}
	.col-xs-2{
		width: 16.66666%;
	}
	.col-xs-3{
		width: 24.99999%;
	}
	.col-xs-4{
		width: 33.33332%;
	}
	.col-xs-5{
		width: 41.66665%;
	}
	.col-xs-6{
		width: 50%;
	}
	.col-xs-7{
		width: 66.66666%;
	}
	.col-xs-8{
		width: 74.99999%;
	}
	.col-xs-9{
		width: 83.33332%;
	}
	.col-xs-10{
		width: 8.33333%;
	}
	.col-xs-11{
		width: 91.66665%;
	}
	.col-xs-12{
		width: 100%;
	}
}
@media screen and (min-width: 768px){
	.container{
		width: 750px;
	}
	.footer .in1{
		display: block;
	}
	.footer .in{
		display: none;
	}
	.ai .con .in .f .sec{
		width: 293px;
		height: 293px;
		margin:0  auto 30px;
	}
	.col-sm-1{
	width: 8.33333%;
	}
	.col-sm-2{
		width: 16.66666%;
	}
	.col-sm-3{
		width: 24.99999%;
	}
	.col-sm-4{
		width: 33.33332%;
	}
	.col-sm-5{
		width: 41.66665%;
	}
	.col-sm-6{
		width: 50%;
	}
	.col-sm-7{
		width: 66.66666%;
	}
	.col-sm-8{
		width: 74.99999%;
	}
	.col-sm-9{
		width: 83.33332%;
	}
	.col-sm-10{
		width: 8.33333%;
	}
	.col-sm-11{
		width: 91.66665%;
	}
	.col-sm-12{
		width: 100%;
	}
}
@media screen and (min-width: 992px){
	.container{
		width: 970px;
	}
	.footer .in1{
		display: none;
	}
	.footer .in{
		display: block;
	}
	.ai .con .in .f .sec{
		width: 213px;
		height: 213px;
	}
	.col-md-1{
	width: 8.33333%;
	}
	.col-md-2{
		width: 16.66666%;
	}
	.col-md-3{
		width: 24.99999%;
	}
	.col-md-4{
		width: 33.33332%;
	}
	.col-md-5{
		width: 41.66665%;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-7{
		width: 66.66666%;
	}
	.col-md-8{
		width: 74.99999%;
	}
	.col-md-9{
		width: 83.33332%;
	}
	.col-md-10{
		width: 8.33333%;
	}
	.col-md-11{
		width: 91.66665%;
	}
	.col-md-12{
		width: 100%;
	}
}
@media screen and (min-width: 1200px){
	.container{
		width: 1170px;
	}
	.footer .in1{
		display: none;
	}
	.footer .in{
		display: block;
	}
	.ai .con .in .f .sec{
		width: 263px;
		height: 263px;
	}
	.col-lg-1{
	width: 8.33333%;
	}
	.col-lg-2{
		width: 16.66666%;
	}
	.col-lg-3{
		width: 24.99999%;
	}
	.col-lg-4{
		width: 33.33332%;
	}
	.col-lg-5{
		width: 41.66665%;
	}
	.col-lg-6{
		width: 50%;
	}
	.col-lg-7{
		width: 66.66666%;
	}
	.col-lg-8{
		width: 74.99999%;
	}
	.col-lg-9{
		width: 83.33332%;
	}
	.col-lg-10{
		width: 8.33333%;
	}
	.col-lg-11{
		width: 91.66665%;
	}
	.col-lg-12{
		width: 100%;
	}
}
